/* *{
    margin: 0px;
}
body{
    background:  linear-gradient(rgb(73, 5, 73),black);
    height:100vh;
}

.subject{
    margin-left: 20px;
    border-radius: 50px;
}
.pass{
    margin-left: 5px;
}
.emal{
    margin-left: 23px;
}

form{
    background: linear-gradient(rgb(117, 12, 121), rgb(148, 29, 29));
    margin-top: 0px;
    margin-right: 600px;
    border-radius: 12px;

}
form label{
    color: azure;
}

.submit:hover{
    color: rgba(148, 29, 29, 0.575);
}
#inputs{
    border-radius: 12px;
}


.header{
    background: rgb(67, 3, 70);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.header a{
    list-style-type: none;
    text-decoration: none;
    color: azure;
}
.header ul{
    display: flex;
}

.header ul li{
    transition: .8s;
    margin-right: 14px;
}
.header ul li:hover{
    color:rgb(67, 3, 70);
    background-color: antiquewhite;
    border-radius: 13px;
} */